.stats{
    width: 100%;

}

.l1{
    display: flex;
    flex-direction: row;
    margin-top: -1vw;
    margin-left: 1vw;
}
select{
    border: none;
    background: none;
}
.l1>h5{
margin-left: 12rem;
}
.stats>div>img{
    margin-left: 1vw;
    width: 18rem;
    height: 16rem;
    
}
.l12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.l2>p{
margin-right: 1vw;
font-size: small;
}
.bullet1{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: rgb(115, 113, 197);
   
}
.bullet2{
    width: 1vw;
    height: 1vw;
    background-color: rgb(120, 248, 199);
    border-radius: 50%;
}

@media screen and (max-width : 800px){

    .stats>div>img{
        margin-left: 1vw;
        width: 70%;
        height: 17rem;
        
    }
    .l2>p{
        margin-top: 1rem;
        display: block;
        font-size: 1.3rem;
    }
    .bullet1{
        width: .7rem;
        height: .7rem;
    }
    .bullet2{
        width: .7rem;
        height: .7rem;
    }
    .l1>h5{

        margin-left: 45%;
    }
}